.block {

}

.block--service {
    text-align: center;
    padding: 0 2rem;

    .centerer {
        margin: auto;
    }

    .block__icon {
        font-size: 4rem;
    }

    .block__title {
        font-size: 1.5rem;
    }

    .block__description {

    }
}
