// Header

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background: $secondary;
    z-index: 99;

    .container {
        position: relative;
    }
}

.logo {
    display: inline-block;

    svg {
        width: 50px;
    }

    .dark {
        fill: $secondary;
    }

    .light {
        fill: $primary;
    }
}

.midnightHeader.primary {
    background: $primary;

    a {
        color: $secondary;
    }

    .logo {
        .dark {
            fill: $primary;
        }

        .light {
            fill: $secondary;
        }
    }
}

.midnightHeader.secondary {
    background: $secondary;
}
