// Header

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background: $secondary;
    z-index: 99;

    .container {
        position: relative;
    }

    .primary {
        background: $primary;

        a {
            color: $secondary;
        }

        .logo {
            .dark {
                fill: $primary;
            }

            .light {
                fill: $secondary;
            }
        }
    }

    .secondary {
        background: $secondary;
    }
}

.logo {
    display: inline-block;

    svg {
        width: 50px;
    }

    .dark {
        fill: $secondary;
    }

    .light {
        fill: $primary;
    }
}

.mobile-menu {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;

    &.open {
        color: $white;
    }

    @media (min-width: 599px) {
        display: none;
    }
}
