// Navigation
.nav {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    li {
        float: left;
        margin-left: 2rem;
    }

    a {
        position: relative;
        display: block;

        &.active {
            color: $white;
        }

        @media (min-width: 599px) {
            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 1px;
                background: $primary;
                transition: 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
            }

            &:hover:after,
            &.active:after {
                width: 100%;
                background: $white;
            }
        }
    }

    @media (max-width: 600px) {
        top: 100%;
        right: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 0.75rem 1rem;
        background: $secondary;
        border-top: 1px solid $primary;
        text-align: center;
        display: none;

        &.open {
            display: block;
        }

        li {
            float: none;
            margin: 0;
        }

        a {
            padding: 0.75rem 0;
        }
    }
}

.nav-open {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: $black;
    line-height: 1;

    &:hover {
        color: $secondary;
    }
}

.mobile-nav {
    $num-list-items: 3;
    $actual-item-height: ((1/($num-list-items+1))*100);
    $actual-item-height-half: ($actual-item-height/2);
    $item-height: ($actual-item-height+($actual-item-height-half/$num-list-items)) + vh;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $secondary;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;

    @for $i from 1 through ($num-list-items + 1) {
        li:nth-child(#{$i}) a {
            transition: color 0.3s ease-in-out,
                        background 0.3s ease-in-out,
                        opacity 0.5s ease-in-out (0.1s * $i),
                        transform 0.5s ease-in-out (0.1s * $i);
        }
    }

    a {
        display: block;
        height: $item-height;
        line-height: $item-height;
        padding: 0 1rem;
        font-size: 15vw;
        font-size: 15vmin;
        color: $primary;
        opacity: 0;
        white-space: nowrap;
        transform: translateX(50px);

        &.nav-toggle {
            height: $actual-item-height-half + vh;
            line-height: $actual-item-height-half + vh;
            font-size: 4vh;
        }

        &:hover {
            color: $secondary;
            background: $primary;
        }
    }

    &.open {
        transform: translateY(0);

        a {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.mobile-menu {
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transform: translateY(-50%);

    &.open {
        color: $white;
    }

    @media (min-width: 599px) {
        display: none;
    }
}
