.section {
    padding: 4rem 0;
    background: $secondary;

    @media (min-width: $bp-xs) {
        padding: 8rem 0;
    }
}

.section--alt {
    background: $primary;
    color: $secondary;
}

.section--hero {
    padding-top: 12rem;
    padding-bottom: 14rem;
    background: #5b4e62 url(../img/geo-pattern.png);

    @media (min-width: $bp-s) {
        padding-top: 15rem;
        padding-bottom: 19rem;
    }
}

.section--approach {
    transform: skewY(6deg);
    margin-top: -7rem;
    overflow: hidden;

    .container {
        transform: skewY(-6deg);
    }

    .g {
        margin: 0;
    }

    header {
        text-align: right;
    }

    .section--title,
    .section--subtitle {
        display: inline-block;
        text-align: right;
    }
}

.section--services {
    transform: skewY(-6deg);

    .container {
        transform: skewY(6deg);
    }

    .g {
        margin: 0;
    }

    header {
        text-align: center;
    }

    // .gi {
    //     border: 5px solid transparent;

    //     &:hover {
    //         border: 5px solid $primary;
    //     }
    // }
}

.section--contact {
    transform: skewY(-10deg);
    padding: 6rem 0;

    @media (min-width: $bp-xs) {
        padding: 12rem 0;
    }

    .container {
        transform: skewY(10deg);
    }
}
