.section {
    padding: 0 0 4rem 0;
    background: $secondary;

    @media (min-width: $bp-xs) {
        padding-bottom: 8rem;
    }
}

.section--alt {
    background: $primary;
    color: $secondary;
}

.section--hero {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background: #5b4e62 url(../img/geo-pattern.png);

    @media (min-width: $bp-s) {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
}

.section--approach {
    transform: skewY(3deg);
    margin-top: -7rem;
    padding-top: 0;
    overflow: hidden;

    .container {
        transform: skewY(-3deg);
    }

    .g {
        margin: 0;
    }

    header {
        text-align: right;
    }

    .section--title,
    .section--subtitle {
        display: inline-block;
        text-align: right;
    }

    .section--title {
        margin-top: -2.5rem;
    }
}

.section--services {
    transform: skewY(-3deg);

    .container {
        transform: skewY(3deg);
    }

    .g {
        margin: 0;
    }

    header {
        text-align: center;
    }

    .section--title {
        margin-top: -3.5rem;
        padding-top: 5rem;
    }

    // .gi {
    //     border: 5px solid transparent;

    //     &:hover {
    //         border: 5px solid $primary;
    //     }
    // }
}

.section--contact {
    transform: skewY(-5deg);

    .container {
        transform: skewY(5deg);
    }

    .section--title {
        padding-top: 5rem;
        margin-top: -2.5rem;
    }
}
