.section {
    padding: 4rem 0;
    background: $secondary;

    @media (min-width: $bp-xs) {
        padding: 8rem 0;
    }
}

.section--alt {
    background: $primary;
    color: $secondary;
}

.section--hero {
    padding-top: 12rem;
    padding-bottom: 16rem;
    background: $secondary url(../img/geo-pattern.png);

    @media (min-width: $bp-s) {
        padding-top: 15rem;
        padding-bottom: 21rem;
    }
}

.section--approach {
    transform: skewY(6deg);
    margin-top: -9rem;
    overflow: hidden;

    .container {
        transform: skewY(-6deg);
    }

    .g {
        margin: 0;
    }
}

.section--capabilities {
    transform: skewY(7deg);

    .container {
        transform: skewY(-7deg);
    }

    .g {
        margin: 0;
    }

    @media (min-width: $bp-s) {
        header {
            text-align: center;
        }
    }

    // .gi {
    //     border: 5px solid transparent;

    //     &:hover {
    //         border: 5px solid $primary;
    //     }
    // }
}

.section--contact {
    transform: skewY(-10deg) translate3d(0,0,0);
    padding: 6rem 0;
    border: 5px solid $primary;

    @media (min-width: $bp-s) {
        header {
            text-align: right;
        }
    }

    @media (min-width: $bp-xs) {
        padding: 12rem 0;
    }

    .container {
        transform: skewY(10deg) translate3d(0,0,0);
    }
}

.section--social {
    text-align: center;
    background: $white;
    border: 5px solid $white;

    transform: skewY(-10deg) translate3d(0,0,0);

    .container {
        transform: skewY(10deg) translate3d(0,0,0);
    }

    a {
        color: $secondary;

        &:hover {
            color: $secondary-light;
        }
    }

    .social-links {
        display: inline-block;
        margin: 0 auto;

        li {
            float: left;
            padding-right: 2rem;
            font-size: 3rem;

            @media (min-width: $bp-s) {
                padding-right: 2.5rem;
                font-size: 4rem;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .email {
        position: relative;
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 2rem;

        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 25px;
            height: 2px;
            background: #5B4E62;
        }
    }
}
